<div class="presentation" style="color:white">
  <div class="presentation__box"">
    <h5 id="about-app">■ アプリ概要</h5>
      <div class="presentation__text">
        <p>少しだけ旅行に行った気分になれるアプリ</p>
      </div>
  </div>

  <div class="presentation__box" >
    <h5 id="functions">■ 実装機能</h5>
      <div class="presentation__text">
        <p>ユーザー登録/サインイン/サインアウト</p>
        <p>記事の投稿/編集/削除</p>
        <p>Google Earth で投稿場所に飛べる</p>
      </div>
  </div>

  <div class="presentation__box">
    <h5 id="difficulty">■ 苦労した点</h5>
      <div class="presentation__text">
        <p>Google Earth API&nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;&nbsp;そもそもサポート終わってる</p>
        <p>コードがうる覚え（「:」やら「；」やら「,」やらetc...）&nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;&nbsp;エラー起こりすぎて修正にかなりの時間が。。。</p>
        <p>画面更新しないとjQueryが動かない</p>
        <p>jQueryの$(this).find()がうまくいかない&nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;&nbsp;コードのインデントは正確に</p>
        <p>okzoom(jQuery)がうまくいかない</p>
      </div>
  </div>

  <div class="presentation__box">
    <h5 id="devisial">■ 工夫した点</h5>
      <div class="presentation__text">
        <p>アプリ内の場所の情報で、Google Earthを動かす</p>
        <p>Google Eartに飛んでも違和感の少ないデザインに</p>
      </div>
  </div>

    <div class="presentation__box">
    <h5 id="amelioration">■ 改善したい/実装したい機能</h5>
      <div class="presentation__text">
        <p>オシャレな見た目に。。。</p>
        <p>GoogleMap API 入れる</p>
        <p>ランキング機能</p>
        <p>タグ付け/エリアごとにカテゴライズ機能</p>
        <p>ユーザーごとのお気にいり機能</p>
        <p>ツアー機能</p>
        <p>etc....</p>
      </div>
  </div>
</div>
